<a href="@Url.Action("Index", "Employee")">Employees</a>
<a href="@Url.Action("Index", "Department")">Departments</a>
<a href="@Url.Action("Index", "Shift")">Shifts</a>
<a href="@Url.Action("LogOut", "LogIn")">LogOut</a>
