<h1>add department</h1>
@using (Html.BeginForm("Add", "Department", FormMethod.Post))
{
    <label>
        Department name:


    </label>
    <input name="name"/>
    <button type="submit">
        add
    </button>
}